.overlay {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.17);
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &__wrapper {
    position: fixed;
    justify-content: center;
    align-items: center;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 500;
    &--active {
      display: flex;
    }
  }
}

.modal {
  z-index: 600;
  width: 90%;
  background: rgba(255, 255, 255, 0.96);
  box-sizing: border-box;
  box-shadow: 0px 30px 12px rgba(0, 0, 0, 0.04);
  flex-direction: column;
  height: fit-content;
  max-height: 95%;
  overflow-y: auto;
  overflow-x: hidden;
  background: #FFFFFF;
  border-radius: 9px;
  max-width: 900px;
  padding: 10px;

  form {
    fieldset {
      border-radius: 13px;
      width: 100%;
      box-sizing: border-box;

      legend {
        margin: 0 auto;
        padding: 0 15px 0 15px;

        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
      }

      h3, h4 {
        font-weight: 300;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
      }

    }
  }

  .active {
    background-color: aliceblue;
  }

  &.get-coords-map-modal {
    max-width: none;
  }
}

.modal__buttons-block {
  margin-top: 25px;
}

.message-window {
  padding: 0 30px;
  border: 2px solid #BBA387;
  z-index: 601;

  button {
    cursor: pointer;
  }
}

.message-modal {
  padding-top: 15px;
  display: flex;
  min-height: 20vh;
  justify-content: flex-end;

  &__text {
    flex: 1 0 auto;
    text-align: center;
    font-weight: normal;
    &--fail {
      color: red;
    }
    &--success {
      color: lightgreen;
    }
  }
}

.cancel-order-modal {
  padding: 15px;
  .reason-item {
    border-bottom: 1px solid #BABABA;
    box-shadow: 0 1px 1px #FFFFFF;
    cursor: pointer;
    color: #686868;
    padding: 20px;
    &--active {
      background-color: #e1f8ff;
    }
  }
  .button:first-child {
    margin-bottom: 15px;
  }
}

.timer-modal {
  border-radius: 10px;

  > div {
    div {
      display: flex;
      align-items: center;
      padding: 0 30px;
      height: 78px;
      font-weight: 300;
      font-size: 20px;
      line-height: 23px;
      justify-content: space-between;
      color: #686868;

      label {
        font-weight: 300;
        font-size: 28px;
        line-height: 33px;
        color: #686868;
      }
    }
  }

  > span {
    border: 1px solid #BABABA;
    box-shadow: 0 1px 1px #FFFFFF;
    width: 97%;
    margin: 0 auto;
  }
}

.comment-modal {
  box-shadow: 0px 1px 17px rgba(0, 0, 0, 0.16);

  form {
    fieldset {
      .wishes {
        padding: 6px;

        .checkbox {
          label {
            font-size: 20px;
          }
        }
      }

      .input-fields {
        .input-group {
          margin-bottom: 12px;

          input {
            display: inline-block;
            position: relative;
            width: 100%;
            height: 54px;
            padding-left: 17px;
            text-align: left;

            background: #FFFFFF;
            border: 1px solid #858585;
            box-sizing: border-box;
            border-radius: 14px;
            font-weight: 300;
            font-size: 20px;
            line-height: 23px;
            color: #000000;

          }

          input::placeholder {
            text-align: left;
            letter-spacing: -0.38px;
            color: #9F9F9F;
            font-weight: 300;
            font-size: 20px;
            line-height: 23px;
          }
        }

        .comment-buttons {
          display: flex;
          .ok-btn {
            flex-grow: 1;
          }
          .voice-btn {
            button {
              color: black !important;
              border-radius: 14px;
            }
          }
        }
      }
    }
  }
}

.driver-modal {
  box-shadow: 0px 1px 17px rgba(0, 0, 0, 0.16);

  form {
    fieldset {
      h3 {
        margin-top: 0;
      }

      h4 {
        font-size: 19px;
        line-height: 22px;
        color: #600000;
        margin-top: 0;
        margin-bottom: 15px;
      }

      span {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .driver-info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;

        &_div {
          font-size: 18px;
          line-height: 21px;
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          color: #600000;

          a {
            font-weight: 300;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            text-decoration: underline;
            color: #600000;
          }

        }

        &_getting-btn {
          margin-bottom: 5px;
          width: 282px;

          button {
            //display: flex;
            //justify-content: center;
            background: linear-gradient(90deg, #EC4C60 0%, #991B0E 100%);
            border-radius: 14px;
            text-transform: capitalize !important;
          }
        }

        &_ok-btn {
          margin-bottom: 5px;
          width: 156px;

          button {
            //display: flex;
            //justify-content: center;
            background: linear-gradient(90deg, #EC4C60 0%, #991B0E 100%);
            border-radius: 14px;
          }
        }

        img {
          margin-bottom: 5px;
        }

        > div {
          display: flex;
          flex-direction: column;
          align-items: center;
          flex: 1;

          span {
            font-size: 18px;
            line-height: 21px;
            text-align: center;
          }

          span:nth-child(3) {
            font-size: 17px;
            opacity: 0.7;
          }
        }
      }
    }
  }

  .cancell-button {
      flex: 1;

      button {
        background: linear-gradient(90deg, #FF8008 0%, #FFC837 100%);
      }
    }
}

.rating-modal {
  box-shadow: 0px 1px 17px rgba(0, 0, 0, 0.16);

  form {
    fieldset {
      .rating {
        display: flex;
        flex-direction: column;

        .rating-stars {
          span {
            width: 40px;
            height: 40px;
          }
        }

        a {
          font-weight: 300;
          font-size: 18px;
          line-height: 21px;
          color: #600000;
          text-decoration: underline;
          margin: 0 auto;
        }

        &-stars {
          text-align: center;

          img {
            height: 40px;
            width: 40px;
            padding: 0;
          }
        }

        p {
          font-style: italic;
          font-weight: 300;
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          color: #B9A2A2;
        }
      }

      .input-group {
        margin-bottom: 12px;

        input {
          display: inline-block;
          position: relative;
          width: 100%;
          height: 54px;
          padding-left: 17px;
          text-align: left;

          background: #FFFFFF;
          border: 1px solid #858585;
          box-sizing: border-box;
          border-radius: 14px;
          font-weight: 300;
          font-size: 20px;
          line-height: 23px;
          color: #000000;

        }

        input::placeholder {
          text-align: left;
          letter-spacing: -0.38px;
          color: #9F9F9F;
          font-weight: 300;
          font-size: 20px;
          line-height: 23px;
        }
      }
    }
  }

  &_rating-btn {
    button {
      margin-bottom: 10px;
      background: linear-gradient(90deg, #EC4C60 0%, #991B0E 100%);
      text-transform: none !important;
    }
  }
}

.tie-card-modal {
  form {
    fieldset {
      .info-block {
        display: flex;
        flex-direction: column;
        align-items: center;

        article {
          font-weight: 300;
          font-size: 20px;
          line-height: 23px;
          text-align: center;
          color: #510000;
        }

        p {
          font-style: italic;
          font-weight: 300;
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          color: #B9A2A2;
          margin-top: 10px;
        }

        a {
          font-weight: 300;
          font-size: 18px;
          line-height: 21px;
          color: #600000;
          text-decoration: underline;
          margin-bottom: 10px;
        }
      }
    }
  }

  &_add-btn {
    width: 100%;
    margin-bottom: 10px;

    button {
      background: linear-gradient(90deg, #EC4C60 0%, #991B0E 100%);
      border-radius: 14px;
      text-transform: none !important;
    }
  }
}

.card-details-modal {
  form {
    fieldset {
      .details {
        display: flex;
        flex-direction: column;
        align-items: center;

        .input-group-wicon {

          img {
            margin-top: 61px;
          }
        }

        .input-group {
          width: 100%;

          input {
            display: inline-block;
            position: relative;
            width: 100%;
            height: 54px;
            padding-left: 17px;
            text-align: left;

            background: #FFFFFF;
            border: 1px solid #858585;
            box-sizing: border-box;
            border-radius: 14px;

            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 23px;
            color: #000000;

          }

          input::placeholder {
            text-align: left;
            letter-spacing: -0.38px;
            color: #9F9F9F;
            font-weight: 300;
            font-size: 20px;
            line-height: 23px;
          }

          label {
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 23px;
            color: #6F1717;
            display: inline-block;
            text-align: left;
            margin-bottom: 15px;
            width: 100%;
            margin-top: 15px;
          }

        }

        &_save-btn {
          width: 100%;
          margin-bottom: 10px;

          button {
            background: linear-gradient(90deg, #EC4C60 0%, #991B0E 100%);
            border-radius: 14px;
            text-transform: capitalize !important;
          }
        }

        a {
          margin-bottom: 10px;
          text-decoration: underline;
          font-weight: 300;
          font-size: 18px;
          line-height: 21px;
          color: #600000;
        }

        .expiration-date {
          display: flex;
          flex-direction: column;
          margin: 20px 0 10px 0;
          width: 100%;

          .exp, .cvc {
            display: flex;
            flex-direction: row;
            align-items: center;
          }

          .exp {
            margin-bottom: 15px;

            .input-group {
              width: 20%;
            }

            justify-content: space-between;
          }

          select {
            background: #FFFFFF;
            border: 1px solid #858585;
            box-sizing: border-box;
            border-radius: 14px;
            width: 100%;
            height: 36px;
          }

          span {
            font-weight: 300;
            font-size: 20px;
            line-height: 23px;
            color: #510000;
          }

          .cvc {
            margin-bottom: 10px;

            .input-group-wicon {
              //width: 160px;

              img {
                margin-top: 12px;
              }
            }
          }

          @media screen and (max-width: 320px) {
            span {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}

.map-modal {
  height: 95%;
  max-width: none;
  width: 95%;

  .map {
    height: 100%;
    width: 100%;
  }

  .map-modal__route {
    position: absolute;
    top: 10px;
    width: fit-content;
    max-width: 200px;
    left: 50px;
    height: fit-content;
    background-color: yellow;
    color: black;
    border: solid black 2px;
    border-radius: 7px;
    z-index: 10001;
    margin: auto;
    font-size: 20px;
    padding: 10px;
  }

  .leaflet-marker-icon {
    width: 25px;
    height: 41px;
    z-index: 1100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
  }

  .modal-buttons {
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    z-index: 1100;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .button__wrapper {
      margin-right: 10px;
      margin-bottom: 10px;
      width: fit-content;

      button {
        padding: 0 20px;
      }
    }
  }
}

.vote-modal {
  //height: 374px;

  .groupped-buttons {
    display: flex;
    width: 100%;
  }

  form {
    fieldset {
      legend {
        img {
          position: absolute;
          right: 45px;
          top: 2px;
        }
      }

      .timer-block {
        display: flex;
        flex-direction: column;
        align-items: center;

        &_timer-img {
          margin: 10px 0 12px 0;
        }

        article {
          display: flex;
          align-items: center;
          font-weight: 300;
          font-size: 20px;
          line-height: 23px;
          text-align: center;

          span {
            font-style: normal;
            font-weight: normal;
            font-size: 57px;
            line-height: 67px;
            margin: 0 13px
          }
        }
      }
    }
  }

  &-btn {
    width: 100%;
    margin-bottom: 12px;

    button {
      background: linear-gradient(90deg, #EC4C60 0%, #991B0E 100%);
      border-radius: 14px;
      text-transform: none !important;
    }
    
    &.cancel button {
      background: linear-gradient(107.25deg, #FFE34E 10.86%, #FFF500 102.23%);
      border: 2px solid #FBD300;
      color: #414141 !important;
    }
  }
}

.seats-modal {
  border-radius: 10px;

  div {
    display: flex;
    align-items: center;
    height: 78px;
    width: 100%;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    justify-content: center;

    color: #686868;

    label {
      font-weight: 300;
      font-size: 28px;
      line-height: 33px;

      color: #686868;

    }
  }

  > span {
    border: 1px solid #BABABA;
    box-shadow: 0px 1px 1px #FFFFFF;
    width: 97%;
    margin: 0 auto;
  }
}

.ontheway-modal {
  &__close-button {
    margin-bottom: 10px;
  }

  &__time {
    margin-bottom: 1.5em;
    font-size: 2em;
    text-align: center;
  }
}

.profile-modal {
  max-width: 500px;

  .avatar {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .button {
    margin-top: 10px;
  }
}

.candidates-modal {
  fieldset {
    @media (max-width: 768px) {
      padding: 5px;
    }
  }

  .candidate {
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 1px 7px 0px #00000012;
    border-radius: 15px;
    border: 3px solid transparent;
    transition: .2s;
    background-color: #FFFFFF;
    cursor: pointer;

    @media (max-width: 768px) {
      padding: 5px;
      margin: 5px;
    }

    &:hover, &:focus, &:active {
      border: 3px solid #2ECE5B;
    }

    &__header {
      display: flex;
      align-items: center;

      &-avatar {
        margin-right: 15px;

        img {
          width: 60px;
        }
      }

      &-info {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        padding-right: 10px;
      }

      &-subinfo {
        display: flex;
        justify-content: space-between;
        width: 100%;

        &-item {
          display: inline-block;
          margin-right: 10px;
        }
      }

      &-name {
        width: 100%;
        font-size: 26px;
        margin: 0 0 10px;

        @media (max-width: 768px) {
          font-size: 18px;
        }
      }

      &-registration {
        margin: 0;

        @media (max-width: 768px) {
          font-size: 15px;
        }
      }

      &-replies {
        margin: 0;
        
        @media (max-width: 768px) {
          font-size: 15px;
        }
      }

      &-arrow {
        border: 10px solid transparent;
        transform: rotate(45deg);
        transition: .2s;
        width: 20px;
        height: 20px;

        &--active {
          transform: rotate(-135deg);
          margin-bottom: 0px;
          margin-top: 10px;
        }
      }
    }

    &__replies {
      opacity: 0;
      transform: scale(0);
      transform-origin: 0 0;
      transition: .2s;
      overflow: hidden;

      &--active {
        margin-bottom: 20px;
        opacity: 1;
        transform: scale(1);
      }
    }

    .reply {
      background-color: white;
      box-shadow: 0px 1px 7px 0px #00000012;
      padding: 15px;
      border-radius: 15px;
      margin: 10px;
      transition: .2s;

      @media (max-width: 768px) {
        padding: 10px;
        margin: 5px
      }

      &:hover, &:focus, &:active {
        box-shadow: 0px 1px 15px 0px #00000033;
      }

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      &__row {
        display: flex;
      }

      &__icon {
        img {
          width: 30px;
        }
        margin-right: 15px;
      }
    }

    &__buttons {
      width: 100%;
      opacity: 0;
      transform: scale(0);
      transform-origin: 0 0;
      transition: .2s;
      max-height: 0;
      overflow: hidden;

      &--active {
        margin-bottom: 30px;
        margin-top: 30px;
        max-height: 150px;
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

.delete-file-modal {
  background-color: transparentize(#fff, .1);
  &__text {
    margin: 20px auto;
    display: block;
    width: fit-content;
    font-size: 21px;
  }

  &__buttons {
    display: flex;
    gap: 15px;
  }

  &__all-button {
    background: #fff !important;
  }
}