@import "../../tools/mixins";

section {
  .input-group {
    .input {
      position: relative;
      width: 100%;
      height: fit-content;
      min-height: 54px;
      text-align: left;

      background: #ffffff;
      border: 1px solid #858585;
      box-sizing: border-box;
      border-radius: 14px;

      input,
      textarea,
      select {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 23px;
        min-height: 23px;
        color: #000000;
      }
    }

    input::placeholder,
    textarea::placeholder {
      text-align: left;
      letter-spacing: -0.38px;
      color: #9f9f9f;

      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
    }

    label {
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 23px;
      color: #6f1717;
      display: inline-block;
      text-align: left;
      margin-bottom: 15px;
      width: 100%;
    }
  }

  .open-map-button {
    button {
      background: linear-gradient(90deg, #ec4c60 0%, #991b0e 100%);
    }
  }

  form {
    position: relative;
    & > h6 {
      font-size: 25px;
      color: #6f1717;
      font-weight: 300;
      margin: 0;
      margin-top: 10px;
      position: relative;
      top: 30px;
    }

    .taxi-cards {
      display: flex;
      flex-wrap: wrap;
      margin-top: 15px;
      margin-bottom: 25px;
      gap: 15px;

      .card {
        flex: 1;
        flex-basis: calc(33.33%) -15px;
        padding: 0 10px 10px;
      }
    }

    .waiting-block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      > span {
        display: flex;
        align-items: center;
        flex: 1;

        &:last-child {
          justify-content: flex-end;
        }

        label {
          font-size: 20px;
          line-height: 23px;
          margin-left: 12px;
        }

        @media screen and (max-width: 410px) {
          label {
            font-size: 17px;
            margin-left: 9px;
          }
        }
        @media screen and (max-width: 320px) {
          label {
            font-size: 14px;
          }
        }
      }
    }

    .vertical-line {
      height: 25px;
      border: 1px solid #c0c0c0;
    }

    .credit-cards {
      display: flex;
      justify-content: stretch;
      gap: 20px;
      margin-top: 15px;
      margin-bottom: 40px;

      .card {
        padding-top: 20px;
        flex: 1;

        img {
          height: 53px;
        }
      }
    }

    .info-block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 60px;

      div {
        display: flex;
        flex-direction: column;
        flex: 1;

        label {
          margin-top: 10px;
          font-family: Roboto;
          font-style: normal;
          font-weight: 300;
          font-size: 20px;
          line-height: 23px;
          text-align: center;
        }

        .comment-controls {
          height: 55px;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            margin-top: auto;
          }
        }

        > span {
          img:nth-child(2) {
            height: 50px;
          }
        }

        img {
          height: 55px;
        }

        .plus-icon {
          height: 25px;
        }
      }
    }

    .phone-input {
      margin-top: 20px;
    }

    .phone-number-input {
      input {
        background: #ffffff;
        border: 2px solid #d32626;
        box-sizing: border-box;
      }

      input::placeholder {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 23px;
        vertical-align: middle;

        border-radius: 14px;
      }

      img {
        margin-top: 12px;
      }
    }

    .order-vote {
      margin-top: 40px;
    }

    .cancell-button {
      flex: 1;

      button {
        background: linear-gradient(90deg, #ff8008 0%, #ffc837 100%);
        margin-bottom: 20px;
      }
    }

    @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    }
    @media screen and (min-width: 1024px) {
    }
  }

  .switchers {
    display: flex;
    justify-content: space-between;
    .tabs {
      // flex-wrap: wrap;
    }
  }

  .is-intercity {
    margin-left: auto;
    z-index: 2;
  }

  .courier-auto {
    margin: 0 0 20px 0;
    h6 {
      font-size: 18px;
      margin: 0 0 10px;
      color: #6f1717;
      font-weight: 300;
    }
  }

  .move-type {
    margin-bottom: 20px;
  }

  .move {
    &__elevator {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 20px;

      & > *:not(.move__elevator-hr) {
        flex: 1;
      }

      &-hr {
        width: 100%;
        height: 1px;
        border: none;
        margin: 20px 10px;
      }

      &-switcher-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100px;
        .input__label {
          text-align: center;
          margin-bottom: 20px;
        }

        &--oneline {
          flex-direction: row;
          align-items: center;
          gap: 30px;
          max-width: fit-content;
          .input__label {
            margin-bottom: 0;
          }
        }
      }
    }

    &__steps {
      max-width: 200px;
      margin-bottom: 0;

      @media (max-width: 768px) {
        max-width: 150px;
      }

      &--oneline {
        display: flex;
        align-items: center;
        max-width: fit-content;
        gap: 10px;
      }

      &--disabled {
        .input__wrapper {
          background-color: #c4c4c4;
        }
      }
    }

    &__images {
      cursor: pointer;

      &-button {
        pointer-events: none;
      }
    }

    &__clear-images {
      margin-top: 20px;
    }

    &__separator {
      margin: 40px 30px;
      border: none;
      height: 1px;
    }
  }

  .weight,
  .courier-auto,
  .move-type {
    .tabs {
      width: fit-content;
      flex-wrap: wrap;
    }
  }

  details {
    summary {
      font-size: 18px;
      font-weight: 300;
      text-decoration: underline;
      outline: none;
      cursor: pointer;
      list-style-type: none;
      margin-bottom: 10px;
      &::-webkit-details-marker {
        display: none;
      }
      &::after {
        content: "";
        display: inline-block;
        height: 0px;
        width: 0px;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        margin-left: 10px;
      }
    }

    textarea {
      width: 100%;
      max-width: 100%;
    }

    &[open] {
      summary::after {
        transform: rotate(180deg);
      }
    }
  }

  .checkbox {
    margin: 10px 0;
  }

  .info {
    margin-bottom: 10px;
    font-size: 16px;
  }
}

.order-payment {
  margin-top: 20px;
}

.big-truck {
  &__cargo-types {
    margin-bottom: 24px;
  }

  &__car-count {
    max-width: 70px;
  }

  &__car-types {
    flex: 1;
  }

  &__logic {
    margin-top: -30px;
    margin-bottom: 24px;
    justify-content: flex-start !important;
  }
}

.form-map-container {
  height: 60vh;
}


.form-with-map {
  position: relative;
}

.form-container {
  width: 100%;
  position: absolute;
  // position: relative;
  z-index: 499;
  top: 0vh;
  background-color: #6f96d5;
  box-shadow: 0px 0px 12px 2px #000;
  padding: 24px 8px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: top .5s ease-in-out;

  &.map-visible {
    top: calc(60vh - 20px);
  }

  .map-button {
    width: 50px;
    margin: 0 auto;
    color: #fff;
    box-shadow: 0px 0px 12px 2px #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 13px;
    border-radius: 50%;
    background-color: #039;
  }
}
