@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@300;400;500&display=swap');

body {
  background: #FFFBF4;
  margin: 0;
  padding-bottom: 20px;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: #666;
}

#root {
  main {
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100%;
    min-height: 100vh;
    background: #FFFBF4;

    section {
      padding: 0 20px;
    }
  }

  .loading-frame {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    img {
      max-width: 150px;
      max-height: 150px;
    }

    .loading-frame__title {
      margin-top: 30px;
      font-size: 20px;
      font-family: "Roboto";
      font-weight: bolder;
    }
  }

  .main-section {
    .loading-frame {
      height: calc(100% - 73px);
      top: 73px;
    }
  }

  textarea:focus, input:focus, button:focus, select:focus {
    outline: none;
  }

  .error-message {
    font-family: Roboto;
    font-weight: normal;
    margin: 0;
    color: red;
    font-size: 17px;
    margin-bottom: 10px;
  }

  //  custom scrollbar
  /* width */
  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.17);;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.50);;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .react-timekeeper {
    position: fixed;
    margin: 0 auto;
    /* bottom: 50%; */
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .error-message-status {
    color: red;
    font-family: Roboto;
    text-align: center;
    font-size: 20px;
    margin: 0 auto
  }

  .main__time-picker {
    position: fixed;
    display: none;
    z-index: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    &._visible {
      display: block;
      z-index: 800;
    }
  }
}

img {
  cursor: pointer;
}

.disabled {
  filter: grayscale(1);
  opacity: 0.3;
  cursor: default;
}

.MuiPaper-root {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

* {
  font-size: 18px;
  box-sizing: border-box;
  font-family: Roboto;
}

*:not(b) {
  font-weight: 300;
}

button {
  cursor: pointer;
}